
.data-user-container{
    color: black;
    margin-top: 50px;
    margin-left: 40px;
    border: solid 1px;
    width: 400px;
    height: 450px;
}
.data-user-container p{
    margin-left: 15px;
}
.data-user-container h3{
   margin-left: 15px;   
}
.user-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content-header-user-profile{
    background-color: rgba(235, 235, 81, 0.842);
}