.content-sesion-register-login{
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.content-sesion{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-input-register{
    width: 200px;
    height: 20px;
    margin-left: 16px;
    
}

.register-title{
    margin-left: 36px;
}

.form-label-register{
    margin-left: 16px;
    margin-bottom: 15px;
}

.login-title{
    margin-left: 130px;
    margin-top: 30px;
}


.login-container{
    margin-left: 150px;
}

.register-message{
    height: 30px;
    width: 400px;
    color: red;
    align-self: center;
    
}

.login-message{
    color: red;
    height: 30px;
    width: 400px;
}
 .register{
    display: flex;
    justify-content: center;
    height: 350px;
    width: 500px;
}

.form-label-login-input{
    width: 200px;
    height: 20px;
}

.form-label-login{
    margin-bottom: 5px;
    margin-top: 5px;;
}

.login{
    display: flex;
    flex-direction: column;
    height: 499px;
    width: 500px;
} 

.button-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
   
}

.sesion-press-btn {
    border: 1px solid #d5d81c;
    background-color: #e5ec78;
    color: rgb(12, 9, 9);
    width: 125px;
    height: 40px;
    font-size: 1rem;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
      0 1px 3px rgba(0,0,0,.2);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f90),to(#e76a00));
    background-image: linear-gradient(#e4f12a 10%,#e5ec78 100%);
    align-self: center;
    margin-top: 16px;
  }
  
.sesion-press-btn:hover, .sesion-press-btn:focus {
    background-color: rgba(241, 248, 179, 0.836);
    cursor: pointer;
  }

.sesion-modal-btn-content{
      margin-bottom: 32px;
  }

.sesion-modal-btn{
      width: 180px;
      height: 32px;
      background-color: black;
      color: rgb(250, 222, 171);
  }
.sesion-img{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 900px;
      height: 800px;
      margin-left: 90px;
      justify-content: center;
      align-items: center;
    
  }
.sesion-img-container{
    width: 300px;
    height: 500px;
    margin-top: 20px;
} 
.image-sesion{
    width: 100%;  
}